:root {
    --blue-google: rgb(71, 131, 247);
    --red-google: rgb(232, 68, 50);
    --yellow-google: rgb(249, 187, 4);
    --green-google: rgb(53, 168, 84);
    --li:white;
    --li-hover:rgb(240, 231, 194); 
}